.header-img {
    width: 200px;
    height: 100px;
}

.search-bar {
    /* width: 60%; */
    border: 3px solid rgb(213, 119, 119);
    padding: 8px;
    border-radius: 10px;
    font-size: 18px;
}

.search-btn {
    font-weight: bold; 
    border: none;
    padding: 8px;
    cursor: pointer;
    width: 49%;
}

.search-btn:hover {
    background-color: cyan;
    color: black;
}

.ad-search-btn {
    color: white;
    font-weight: bold; 
    border: none;
    padding: 8px;
    cursor: pointer;
}

.ad-search-btn:hover {
    background-color: cyan;
    color: black;
}

.navbar-icon {
    background-image: url('resource/menu.png');
}

.invoice-header h1 {
    font-weight: bold;
    font-size: 40px;
}

.invoice-footer {
    font-size: 18px;
}

.cart-btn {
    background-color: #6c757d;
    border: none;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase !important;
}

.cart-btn:hover {
    background-color: cyan;
    color: black;
}

.btn-signIn {
    background-color: #6c757d;
    border: none;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase !important;
}

.btn-signIn:hover {
    background-color: cyan;
    color: black;
}

.btn-signUp {
    background-color: #6c757d;
    border: none;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase !important;
}

.btn-signUp:hover {
    background-color: cyan;
    color: black;
}

.btn-learn-more {
    background-color: #6c757d;
    border: none;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase !important;    
}

.btn-learn-more:hover {
    background-color: cyan;
    color: black;
}